In [1]:
import numpy as np
import pandas as pd
import scipy as sc
from auxfunc import *

In [2]:
Nxy = np.arange(1,82).reshape(3,3,3,3)

In [3]:
Nx = Nxy.sum(axis = 2)
#squared = list(map(lambda x: sc.entropy(x, base = 2), Nx))
Nx.shape[-3]
a = [ 1,  2,  3,  4,  5,  6,  7,  8,  9]

In [4]:
Nxy = np.arange(1,82).reshape(3,3,3,3)
dims = Nxy.shape

Nx = Nxy.sum(axis = len(dims)-2)
Nx = Nx.transpose(np.append(np.arange(0,len(Nx.shape)-2),[-1,-2]))
Hx = list(map(lambda x: sc.entropy(x, base = 2), Nx))
Hx = np.append(Hx,[])
Ux = np.array([np.log2(dims[0])]*len(Hx))


Ny = Nxy.sum(axis = len(dims)-1)
Ny = Ny.transpose(np.append(np.arange(0,len(Nx.shape)-2),[-1,-2]))
Hy = list(map(lambda x: sc.entropy(x, base = 2), Ny))
Hy = np.append(Hy,[])
Uy = np.array([np.log2(dims[0])]*len(Hy))

Nxy = Nxy.reshape(np.product(dims[0:-2]),np.product([dims[-2],dims[-1]]))

Hxy = sc.entropy(Nxy.reshape(np.product(dims[0:-2]),np.product([dims[-2],dims[-1]])) , base = 2) 
df = pd.DataFrame({'Ux': Ux,'Uy': Uy,'Hx': Hx,'Hy': Hy, 'Hxy': Hxy})

In [5]:
df = pd.DataFrame({'Ux': Ux,'Uy': Uy,'Hx': Hx,'Hy': Hy, 'Hxy': Hxy})

In [6]:
df

         Ux        Uy        Hx        Hy       Hxy
0  1.584963  1.584963  1.565596  1.399581  2.826221
1  1.584963  1.584963  1.582507  1.562708  2.850525
2  1.584963  1.584963  1.584053  1.576758  2.871296
3  1.584963  1.584963  1.584493  1.580730  2.889563
4  1.584963  1.584963  1.584676  1.582385  2.905870
5  1.584963  1.584963  1.584770  1.583230  2.920572
6  1.584963  1.584963  1.584824  1.583719  2.933923
7  1.584963  1.584963  1.584858  1.584026  2.946113
8  1.584963  1.584963  1.584881  1.584232  2.957295

In [7]:
Hxy

array([2.82622088, 2.85052499, 2.8712963 , 2.88956263, 2.90587009,
       2.92057242, 2.93392272, 2.94611307, 2.95729504])

In [184]:
df = pd.read_excel('titanic.xlsx')

In [185]:
df1 = df2matrix(df)

/Users/jaime.de.los.rios/Documents/Jupyter Prueba Fran/auxfunc.py:28: UserWarning: Discretizing data!
  warnings.warn("Discretizing data!")
/Users/jaime.de.los.rios/Documents/Jupyter Prueba Fran/auxfunc.py:52: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  matrix = m.as_matrix().reshape(dims)

In [23]:
Nxy = df1

In [59]:
Nx = Nxy.sum(axis = len(dims)-2)

In [68]:
df = discretization(df,5)
li = list() ; dims = list() 

df.apply((lambda x : dims.append(len(pd.unique(x)))))
for i in range(len(df.columns)):li.append(pd.Series(df[df.columns[i]]))

m = pd.crosstab(index = li[0:len(li)-1], columns = li[len(li)-1], dropna= False)
matrix = m.as_matrix().reshape(dims)

/Users/jaime.de.los.rios/Documents/Jupyter Prueba Fran/auxfunc.py:28: UserWarning: Discretizing data!
  warnings.warn("Discretizing data!")
/Users/jaime.de.los.rios/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [191]:
edf = sentropies_ct(Nxy)

In [188]:
Nxy = np.arange(1,82).reshape(3,3,3,3)

In [192]:
edf

            Ux        Hx        Uy        Hy       Hxy
Name
0     1.584963  0.970116  1.584963  1.085189  2.049841
1     1.584963  1.083187  1.584963  1.096910  2.180042
2     1.584963  1.092925  1.584963  1.097982  2.190900
3     1.584963  1.095678  1.584963  1.098287  2.193963
4     1.584963  1.096826  1.584963  1.098414  2.195239
5     1.584963  1.097412  1.584963  1.098479  2.195890
6     1.584963  1.097750  1.584963  1.098517  2.196266
7     1.584963  1.097963  1.584963  1.098540  2.196503
8     1.584963  1.098106  1.584963  1.098556  2.196662